.user {
    width: 100%;
    cursor: pointer;
    border: 1px solid lightcoral;
    background-color: lightyellow;
    display: inline-block;
    text-align: center;
}

.userName {
    padding: 11px 15px;
    display: block;
}

.list {
    height: 100vh !important;
}